.list-title {
    font-size: x-large;
}

.container {
    position: relative;
}

.icon {
    position: absolute;
    z-index: 1;
    border: 2px solid white;
    top: 50%;
    transform: translate(0,-100%);
}

.left-icon {
    left: 15px;
}

.right-icon {
    right: 15px;
}

.icon svg {
    width: 50px;
    height: 50px;
    color: white;
}